//BRAND COLOURS
$primary: #E0752F;
$secondary: #343434;

//ACCORDION PROPERTIES
$accordion-icon-color:  #db0f82;
$accordion-icon-active-color: #db0f82;
$accordion-icon-width: 5rem;

//CAROUSEL PROPERTIES
$carousel-indicator-width: 10px;
$carousel-indicator-height:10px;



@import '~bootstrap/scss/bootstrap.scss';
