


button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    background-color: rgb(17, 137, 177);
    margin: 15px
}

button:hover{
    background-color: rgb(120, 185, 206);
}

input{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}
